<!doctype html>
<html lang="ko">
<head><meta charset="UTF-8"><title>메인</title></head>
<body>
<h2>{{nickname}}님 환영합니다!</h2>

<h2>종목 선택</h2>
<ul>
    <a href="/post/sport/1/intro"> 축구 내소개</a>
    <li><a href="/post/sport/2/intro">풋살 내 소개</a></li>
    <li><a href="/post/sport/3/intro">야구 내 소개</a></li>
    <li><a href="/post/sport/4/intro">테니스 내 소개</a></li>
</ul>
</body>
</html>
